*/bin/**
*/build/**
*/out/**
*/.gradle/**

tmp/**
tmp/**/*

#maven
*/target/*
*/target/**

#eclipse
.classpath
.project
.settings/
.metadata/
.recommenders/
RemoteSystemsTempFiles/
Servers/
*.txt

#Intellij
.idea/
*.iml
